<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Data</title>
    <style>
        body{
            background-color: rgb(235, 233, 221);
        }
        table{
            border-collapse: collapse;
            font-size: 0.6rem;
        }
        table tr td,th{
            padding: 10px;
        }
        td a{
            text-decoration: none;
            background-color: orange;
            border: 2px solid black;
            padding: 5px;
            color: black;
        }
        .home{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        a{
            text-decoration: none;
            background-color: orange;
            border: 2px solid black;
            padding: 5px;
            color: black;
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px;
            gap: 20px;
            margin-top: -40px;
        }
        .btn input{
            text-decoration: none;
            background-color: orange;
            border: 2px solid black;
            padding: 5px;
            color: black;
            text-align: center;
            width: 30px;
        
        }
        .order{
            display: flex;
            align-items: center;
            justify-content: center; 
            margin-bottom: 10px;
        }
        
        </style>
</head>
<body>
    <h1 align="center">Hareshkumar Chauhan 24DEV006 28/02/2024</h1>
    <h1 align="center">Student Result</h1>
   
     
     <table border="1" align="center">
        <tr>
          <th rowspan="2">Id</th>
          <th rowspan="2">Full Name</a></th>
          <th colspan="2">Terminal</th>
          <th colspan="2">Preliminary</th>
          <th colspan="2">Final Theory</th>
          <th rowspan="2">Total Obtain Mark</th>
          <th rowspan="2">Total Mark</th>
          <th rowspan="2">View Report</th>
        </tr>
        <tr>
            <th>Theory Mark</th>
            <th>Practical Mark</th>
            <th>Theory Mark</th>
            <th>Practical Mark</th>
            <th>Theory Mark</th>
            <th>Practical Mark</th>
        </tr>
      
        <% result.forEach( (row) => { %>
          <tr>
            <td><%= row.id%></td>
            <td><%= row.full_name %></td>
            <td><%= row.terminal_t %></td>
            <td><%= row.terminal_p%></td>
            <td><%= row.premi_t%></td>
            <td><%= row.premi_p%></td>
            <td><%= row.final_t %></td>
            <td><%= row.final_p%></td>
            <td><%= row.total%></td>
            <td>1200</td>
            <td align="center" ><a href="/fpsr/report/<%=row.id%>">View</a></td>
          </tr>    
        <% }) %>
      </table>
      <div class="btn">
        <div>
            <h3>Showing <%= first  %> to <%= last %> of 300 entries</h3>
        </div>
        <a href="/fpsr" onclick="first()" id="first"><<</a>
        <a href="/fpsr/oprev/<%= i  %>" onclick="prev()" id="prev"><</a>
        <input type="text" value="<%= i %>" id="page" disabled>
        <a href="/fpsr/onext/<%= i  %>" onclick="next()" id="next">></a>
        <a href="/fpsr/olast/" onclick="last()" id="last">>></a>
    </div>

    </body>
    <script>
        
        var page = document.getElementById('page');
        if(page.value == 1){
            document.getElementById('first').style.pointerEvents = 'none';
            document.getElementById('prev').style.pointerEvents = 'none';
        }
        else if(page.value == 30){
            document.getElementById('last').style.pointerEvents = 'none';
            document.getElementById('next').style.pointerEvents = 'none';
        }

        function validation(){
            var cols = document.getElementById('cols');
            var order = document.getElementById('order');

            if( cols.value == " " || order.value == " "){
                alert("please select option");
                return false;
            }
        }
        const mySel = document.getElementById("order"); 
        mySel.addEventListener("change",function() { 
        localStorage.setItem("selValue",this.value);
        var month = document.getElementById('order');
            if(month.value == 'January'){
                window.location.href = '/indexf/2024-01-01/2024-01-31/31';
                 
            }
            else if(month.value == 'February'){
                window.location.href = '/indexf/2024-02-01/2024-02-29/29';
               
            }
            else if(month.value == 'December'){
                window.location.href = '/indexf/2023-12-01/2023-12-31/31';
                
            }
        }); 
        let val = localStorage.getItem("selValue"); 
        if (val) mySel.value=val;
        mySel.onchange();  
    </script>
</html>