<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Full Data</title>
    <style>
        body{
            background-color: rgb(235, 233, 221);
        }
        table{
            border-collapse: collapse;
            font-size: 0.6rem;
        }
        table tr td,th{
            padding: 10px;
        }
        td a{
            text-decoration: none;
            background-color: orange;
            border: 2px solid black;
            padding: 5px;
            color: black;
        }
        .home{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
        }
        a{
            text-decoration: none;
            background-color: orange;
            border: 2px solid black;
            padding: 5px;
            color: black;
        }
        .btn{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 40px;
            gap: 20px;
            margin-top: -40px;
        }
        .btn input{
            text-decoration: none;
            background-color: orange;
            border: 2px solid black;
            padding: 5px;
            color: black;
            text-align: center;
            width: 30px;
        
        }
        .order{
            display: flex;
            align-items: center;
            justify-content: center; 
            margin-bottom: 10px;
        }
        
        </style>
</head>
<body>
    <h1 align="center">Hareshkumar Chauhan 24DEV006 27/02/2024</h1>
    <h1 align="center">Student Details (<b id="month"></b> Report)</h1>
   
    <div class="order">
        <select name="order" id="order"onchange="change()">
            <option value="December" selected>December</option>
            <option value="January">January</option>
            <option value="February">February</option>
        </select>
    </div>
     
     <table border="1" align="center">
        <tr>
          <th>Id</th>
          <th>Full Name</a></th>
          <th>Present</th>
          <th>Percentage</th>
        </tr>
      
        <% result.forEach( (row) => { %>
          <tr>
            <td><%= row.id%></td>
            <td><%= row.full_name %></td>
            <td><%= row.present%></td>
            <td><%= row.percentage %></td>
          </tr>    
        <% }) %>
      </table>

      <div class="btn">
          <div>
              <h3>Showing <%= first  %> to <%= last %> of 300 entries</h3>
          </div>
          <a href="/ofirst/<%= start %>/<%= end %>/<%= total %>" onclick="first()" id="first"><<</a>
          <a href="/oprev/<%= i  %>/<%= start %>/<%= end %>/<%= total %>" onclick="prev()" id="prev"><</a>
          <input type="text" value="<%= i %>" id="page" onchange="page1()">
          <a href="/onext/<%= i  %>/<%= start %>/<%= end %>/<%= total %>" onclick="next()" id="next">></a>
          <a href="/olast/<%= start %>/<%= end %>/<%= total %>" onclick="last()" id="last">>></a>
      </div>
    </body>
    <script>
        
        var page = document.getElementById('page');
        if(page.value == 1){
            document.getElementById('first').style.pointerEvents = 'none';
            document.getElementById('prev').style.pointerEvents = 'none';
        }
        else if(page.value == 30){
            document.getElementById('last').style.pointerEvents = 'none';
            document.getElementById('next').style.pointerEvents = 'none';
        }

        function validation(){
            var cols = document.getElementById('cols');
            var order = document.getElementById('order');

            if( cols.value == " " || order.value == " "){
                alert("please select option");
                return false;
            }
        }
   
        function page1(){
            
            let val = document.getElementById('page').value;
            window.location.href = `/indexf/2024-01-01/2024-01-31/31/${val}`;
        }

        const mySel = document.getElementById("order"); 

        mySel.addEventListener("change",function() { 
        localStorage.setItem("selValue",this.value);
        var month = document.getElementById('order');
            if(month.value == 'January'){
                
                window.location.href = '/indexf/2024-01-01/2024-01-31/31';
               
            }
            else if(month.value == 'February'){
              
                window.location.href = '/indexf/2024-02-01/2024-02-29/29';
            
            }
            else if(month.value == 'December'){
           
                window.location.href = '/indexf/2023-12-01/2023-12-31/31';

            }
        }); 
        let val = localStorage.getItem("selValue"); 
        if (val) mySel.value=val;
        document.getElementById('month').innerText = val;
        mySel.onchange();  
    </script>
</html>